In [1]:
import pandas as pd

In [2]:
testTransaction = pd.read_csv('./../datasets/test_transaction.csv')
testIdentity = pd.read_csv('./../datasets/test_identity.csv')

# Merge the dataframes
TstIdTr = pd.merge(testTransaction, testIdentity, on='TransactionID', how='left')

In [12]:
TstIdTr.columns

Index(['TransactionID', 'TransactionDT', 'TransactionAmt', 'ProductCD',
       'card1', 'card2', 'card3', 'card4', 'card5', 'card6',
       ...
       'id-31', 'id-32', 'id-33', 'id-34', 'id-35', 'id-36', 'id-37', 'id-38',
       'DeviceType', 'DeviceInfo'],
      dtype='object', length=433)

In [24]:
# validate any missing columns 

# Load the training column names from the saved file
with open('trIdTr_columns.txt', 'r') as f:
    loaded_columns = f.read().splitlines()

# Convert both lists to sets
set_TstIdTr = set(TstIdTr.columns)  # Extract column names as a set
set_loaded_columns = set(loaded_columns)

# Find columns in TstIdTr but not in loaded_columns
missing_in_loaded = set_TstIdTr - set_loaded_columns

# Find columns in loaded_columns but not in TstIdTr
missing_in_TstIdTr = set_loaded_columns - set_TstIdTr

print("Columns missing in loaded_columns:", missing_in_loaded)
print("Columns missing in TstIdTr:", missing_in_TstIdTr)

Columns missing in loaded_columns: set()
Columns missing in TstIdTr: {'isFraud'}

In [23]:
# Define the correct column names
correct_columns = {'id_07', 'id_37', 'id_19', 'id_05', 'id_15', 'id_24', 'id_30', 'id_16', 
                   'id_11', 'id_25', 'id_38', 'id_09', 'id_36', 'id_21', 'id_34', 'id_22', 
                   'id_04', 'id_08', 'id_03', 'id_33', 'id_20', 'id_29', 'id_06', 'id_18', 
                   'id_01', 'id_26', 'id_23', 'id_27', 'id_13', 'id_10', 'id_31', 'id_14', 
                   'id_02', 'id_17', 'id_32', 'id_28', 'id_12', 'id_35'}

# Get existing columns in TstIdTr
existing_columns = set(TstIdTr.columns)

# Find columns that need renaming (with '-' instead of '_')
columns_to_rename = {col for col in existing_columns if col.replace('-', '_') in correct_columns}

# Create a rename mapping
rename_mapping = {col: col.replace('-', '_') for col in columns_to_rename}

# Rename the columns in TstIdTr
TstIdTr.rename(columns=rename_mapping, inplace=True)

# Verify the column names
print("Renamed columns:", rename_mapping)
print("Updated columns:", TstIdTr.columns)

Renamed columns: {'id-07': 'id_07', 'id-37': 'id_37', 'id-19': 'id_19', 'id-05': 'id_05', 'id-15': 'id_15', 'id-24': 'id_24', 'id-30': 'id_30', 'id-16': 'id_16', 'id-11': 'id_11', 'id-25': 'id_25', 'id-38': 'id_38', 'id-09': 'id_09', 'id-36': 'id_36', 'id-21': 'id_21', 'id-34': 'id_34', 'id-22': 'id_22', 'id-04': 'id_04', 'id-08': 'id_08', 'id-03': 'id_03', 'id-33': 'id_33', 'id-20': 'id_20', 'id-29': 'id_29', 'id-06': 'id_06', 'id-18': 'id_18', 'id-01': 'id_01', 'id-26': 'id_26', 'id-23': 'id_23', 'id-27': 'id_27', 'id-13': 'id_13', 'id-10': 'id_10', 'id-31': 'id_31', 'id-14': 'id_14', 'id-02': 'id_02', 'id-17': 'id_17', 'id-32': 'id_32', 'id-28': 'id_28', 'id-12': 'id_12', 'id-35': 'id_35'}
Updated columns: Index(['TransactionID', 'TransactionDT', 'TransactionAmt', 'ProductCD',
       'card1', 'card2', 'card3', 'card4', 'card5', 'card6',
       ...
       'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38',
       'DeviceType', 'DeviceInfo'],
      dtype='object', length=433)

In [26]:
TstIdTr.head(3)

,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,3663549,18403224,31.95,W,10409,111.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3663550,18403263,49.00,W,4272,111.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3663551,18403310,171.00,W,4476,574.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
TstIdTr.head(1)

,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,3663549,18403224,31.95,W,10409,111.0,150.0,visa,226.0,debit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
import pickle as pkl

In [29]:
TstIdTr.to_pickle('./../processed_datasets/TstIdTr.pkl')

In [ ]:
# ### DATA CONNECTOR 

# load test_transaction
# load test_identity 

# pull data from google drive API 
# select just column by column 






# verify columns match training set:



# assert if either of above sets are both null, if not, print them and say missing columns

# results in TstTrId.csv 
# stored in GoogleDrive with Google drive api